<!-- Page Content -->
<body >
    <br><br><br>
  <div  class="container">
      <nav>
          <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link" [routerLink]="['..']" routerLinkActive="router-link-active">CREAR USUARIO</a>
              <li class="nav-item"><a class="nav-link active" [routerLink]="['.']" routerLinkActive="router-link-active">GESTIONAR USUARIO</a>
          </ul>
      </nav>
      <br>     
      <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">USUARIO</th>
              <th scope="col">ESTADO</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td> </td>
              <td>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="estado1">
                  <label class="custom-control-label" for="estado">Activar/Desactivar</label>
                </div> </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td> </td>
              <td> </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td> </td>
              <td> </td>
            </tr>
          </tbody>
        </table>
  </div>
  </body>
  <!-- /.container -->