<!-- Page Content -->

<body>
    <br><br><br>
    <div class="container">
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" [routerLink]="['.']" routerLinkActive="router-link-active">SOCIO</a>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['clientenosocio']" routerLinkActive="router-link-active">NO SOCIO</a>
            </ul>
        </nav>
        <br>
        <div class="row">
            <form (ngSubmit)="addCliente(gClienteForm)" #gClienteForm="ngForm">
                <div class="form-row">
                    <label for="nombrecliente">Nombre Cliente</label>
                    <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="clienteService.selectedCliente.nombre" class="form-control" placeholder="Ingrese nombre"> <br>
                    <label for="apellidocliente">Apellido Cliente</label>
                    <input type="text" name="apellido" #apellido="ngModel" [(ngModel)]="clienteService.selectedCliente.apellido" class="form-control" placeholder="Ingrese apellido"> <br>
                    <label for="rutcliente">Rut Cliente</label>
                    <input type="text" name="rut" #rut="ngModel" [(ngModel)]="clienteService.selectedCliente.rut" class="form-control" maxlength="9" placeholder="Ingrese Rut" validateRut required> <br>
                    <label for="telefono">Teléfono</label>
                    <input type="tel" name="telefono" #telefono="ngModel" [(ngModel)]="clienteService.selectedCliente.telefono" class="form-control" maxlength="11">
                    <label for="correousuario">Email address</label>
                    <input type="email" name="correo" #correo="ngModel" [(ngModel)]="clienteService.selectedCliente.correo" class="form-control" placeholder="nombre@ejemplo.com"> <br>
                    <label for="fechanacimiento">Fecha de Nacimiento</label>
                    <input type="date" name="nacimiento" #nacimiento="ngModel" [(ngModel)]="clienteService.selectedCliente.nacimiento" class="form-control"> <br>
                    <label for="datosempresa">Seleccione Empresa</label>
                    <!-- V   PENDING   V -->
                    <select #test class="form-control">
                        <option *ngFor="let e of empresaService.empresas" value="e._id" >{{e.nombre}}</option>
                    </select>
                    <br>

                    <p></p>
                    <br><br>
                    <button type="submit" class="btn btn-success">REGISTRAR</button>
                </div>
            </form>

        </div>
    </div>
</body>
<!-- /.container -->