<!-- <div class="row">
    <form (ngSubmit)="addUser(gUsuarioForm)" #gUsuarioForm="ngForm">
        <div class="form-row">
            <label for="nombrecliente">Nombre Cliente</label>
            <input type="text" name="nombre" #username="ngModel" [(ngModel)]="clienteService.selectedCliente.username" class="form-control" placeholder="Ingrese nombre"> <br>
            <label for="correousuario">Email address</label>
            <input type="email" name="correo" #correo="ngModel" [(ngModel)]="clienteService.selectedCliente.correo" class="form-control" placeholder="nombre@ejemplo.com"> <br>
            <label for="contraseña">Contraseña</label>
            <input type="password" name="contraseña" #contraseña="ngModel" [(ngModel)]="clienteService.selectedCliente.contraseña" class="form-control"> <br>
            <label for="contraseña">Confirme contraseña</label>
            <input type="password" name="contraseña2" #contraseña2="ngModel" [(ngModel)]="clienteService.selectedCliente.contraseña2" class="form-control"> <br>
        </div>
    </form>
</div>
contraseña2 -->