<form (ngSubmit)="addCancha(testForm)" #testForm="ngForm">
    <div>
        <input type="string" name="numero" #name="ngModel" [(ngModel)]="canchaService.selectedCancha.numero">
        <input type="string" name="estado" #name="ngModel" [(ngModel)]="canchaService.selectedCancha.estado">
        <input type="string" name="tipoCancha" #name="ngModel" [(ngModel)]="canchaService.selectedCancha.tipoCancha">
        <button>
            Save
        </button>
    </div>

</form>

<ul *ngFor="let c of canchaService.canchas">
    <li>{{c.estado}}</li>
    <li>{{c.numero}}</li>
</ul>