<form (ngSubmit)="addCancha(testForm)" #testForm="ngForm">
    <div>
        <input type="string" name="numero" #numero="ngModel" [(ngModel)]="canchaService.selectedCancha.numero">
        <input type="string" name="estado" #estado="ngModel" [(ngModel)]="canchaService.selectedCancha.estado">
        <input type="string" name="tipoCancha" #tipo="ngModel" [(ngModel)]="canchaService.selectedCancha.tipoCancha">
        <button>
            Save
        </button>
    </div>

</form>

<table>
    <tr *ngFor="let cancha of canchaService.canchas">
        <td>{{ cancha.numero }}</td>
        <td>{{ cancha.estado }}</td>
        <td>{{ cancha.tipoCancha.tipo}}</td>
    </tr>
</table>