<!-- Page Content -->
<body >
        <br><br><br>
      <div  class="container">
        <div  class="row">
          <div class="col-md-3 animated fadeIn">
            <div class="card text-white bg-success mb-3">
                <h3 class="text-center">GESTIONAR CLIENTE</h3>
              <button type="button" class="btn btn-success">
                <a class="nav-link" [routerLink]="['gestioncliente']" routerLinkActive="router-link-active">Ingresar</a>
              </button>
            </div>
          </div>
          <div class="col-md-3 animated fadeIn">
            <div class="card text-white bg-success mb-3">
                <h3 class="text-center">CIERRE CAJA</h3>
              <button type="button" class="btn btn-success">
                    <a class="nav-link" [routerLink]="['cierrecaja']" routerLinkActive="router-link-active">Ingresar</a>
              </button>
            </div>
          </div>
          <div class="col-md-3 animated fadeIn">
            <div class="card text-white bg-success mb-3">
                <h3 class="text-center">REPORTES</h3>
              <button type="button" class="btn btn-success">
                    <a class="nav-link" [routerLink]="['reportes']" routerLinkActive="router-link-active">Ingresar</a>
              </button>
            </div>
          </div>
          <div class="col-md-3 animated fadeIn">
            <div class="card text-white bg-success mb-3">
                <h3 class="text-center">GESTIONAR RESERVA</h3>
              <button type="button" class="btn btn-success" >
                    <a class="nav-link" [routerLink]="['gestionreserva']" routerLinkActive="router-link-active">Ingresar</a>
              </button>
            </div>
          </div>
      </div>
      </div>
      </body>