<!-- Page Content -->
<body >
    <br><br><br>
  <div  class="container">
    <div  class="row">
      <div class="col-md-3 animated fadeIn">
        <div class="card text-white bg-success mb-3">
            <h3 class="text-center">GESTIONAR CLIENTE</h3>
          <button type="button" class="btn btn-success">
          
            <a class="nav-link" [routerLink]="['/perfil1/gestioncliente']" routerLinkActive="router-link-active">Ingresar</a>
          </button>
        </div>
      </div>
      <div class="col-md-3 animated fadeIn">
        <div class="card text-white bg-success mb-3">
            <h3 class="text-center">GESTION USUARIO</h3>
          <button type="button" class="btn btn-success">
                <a class="nav-link" [routerLink]="['gestionusuario']" routerLinkActive="router-link-active">Ingresar</a>
          </button>
        </div>
      </div>
      <div class="col-md-3 animated fadeIn">
        <div class="card text-white bg-success mb-3">
            <h3 class="text-center">REPORTES GENERALES</h3>
          <button type="button" class="btn btn-success">
                <a class="nav-link" [routerLink]="['reportes2']" routerLinkActive="router-link-active">Ingresar</a>
          </button>
        </div>
      </div>
      <div class="col-md-3 animated fadeIn">
        <div class="card text-white bg-success mb-3">
            <h3 class="text-center">GESTIONAR CANCHA</h3>
          <button type="button" class="btn btn-success" >
                <a class="nav-link" [routerLink]="['gestioncancha']" routerLinkActive="router-link-active">Ingresar</a>
          </button>
        </div>
      </div>
  </div>
  </div>
  </body>