<!-- Page Content -->

<body>
    <div class="container">
        <div class="shadow-sm p-3 mb-5 bg-white rounded">Small shadow</div>


        <form method="post">
            <div class="form-row">
                <label for="nombrecliente">Nombre Cliente</label>
                <input type="text" class="form-control" id="nombrecliente" placeholder="Ingrese nombre completo"> <br>
                <label for="rutcliente">Rut Cliente</label>
                <input type="text" class="form-control" id="rutcliente" maxlength="9" placeholder="Sin puntos ni guión"> <br>
                <label for="telefono">Teléfono</label>
                <input type="tel" class="form-control" id="telefono" maxlength="11">
                <br><br>
                <button type="submit" class="btn btn-success">REGISTRAR</button>
            </div>
        </form>
    </div>

</body>